apiVersion: apps/v1
kind: Deployment
metadata:
  name: hub
# prettier-ignore
spec:
  replicas: 2
  revisionHistoryLimit: 0
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: windmillhub
  template:
    metadata:
      labels: 
        app: windmillhub
        container: hub
    spec:
    {{- with .Values.hub.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
      containers:
      - name: hub
        image: {{ .Values.hub.image }}:{{ default .Chart.AppVersion .Values.hub.tag }}
        imagePullPolicy: Always
        readinessProbe:
          initialDelaySeconds: 1
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
          httpGet:
            host:
            scheme: HTTP
            path: /ready
            port: 3000
        env:
        {{- with .Values.hub.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        - name: "DATABASE_URL"
          value: {{ .Values.hub.databaseUrl }}
        {{- if not .Values.hub.privateHub }}
        - name: PUBLIC_PRIVATE_HUB
          value: "false"
        {{- end }}
        - name: PUBLIC_APP_URL
          value: {{ .Values.hub.appUrl }}
        - name: "LICENSE_KEY"
          value: {{ .Values.hub.licenseKey }}
        ports:
        - containerPort: 3000
        resources:
          limits:
              cpu: "1000m"
              memory: "1.5Gi"
              ephemeral-storage: "1Gi"
      securityContext:
        runAsUser: 0
---
apiVersion: v1
kind: Service
metadata:
  name: windmill-hub
spec:
  externalTrafficPolicy: Cluster
  ports:
    - port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: windmillhub
    container: hub
  sessionAffinity: ClientIP
  type: NodePort
status:
  loadBalancer: {}
