apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: windmill-hub-ingress
{{- with .Values.hub.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}

spec:
{{- if .Values.hub.tls }}
  tls:
  {{- range .Values.hub.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  {{ if .Values.hub.className }}
  ingressClassName: "{{ .Values.hub.className }}"
  {{ end }}
  rules:
    - host:  {{ .Values.hub.baseDomain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: windmill-hub
                port:
                  number: 3000
